[submodule "lib/CodeFramework"]
	path = lib/CodeFramework
	url = https://thedillonb@github.com/thedillonb/CodeFramework.git
[submodule "lib/GitHubSharp"]
	path = lib/GitHubSharp
	url = https://thedillonb@github.com/thedillonb/GitHubSharp.git
[submodule "lib/MonoTouch.SlideoutNavigation"]
	path = lib/MonoTouch.SlideoutNavigation
	url = https://github.com/thedillonb/MonoTouch.SlideoutNavigation.git
